{% extends "base.html" %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-body">

            <h2 class="text-primary">

                Patient Dashboard

            </h2>

            <hr>

            <h5>

                Welcome

                {{ request.user.get_full_name|default:request.user.username }}

            </h5>

            <p>

                This is Patient Dashboard.

            </p>

        </div>

    </div>

</div>

{% endblock %}