{% extends "base.html" %}

{% block title %}
Doctors
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="fw-bold">
        Doctors
    </h2>

    <a href="{% url 'doctor_create' %}"
       class="btn btn-success">

        <i class="bi bi-person-plus-fill"></i>

        Add Doctor

    </a>

</div>

<div class="table-responsive">

<table class="table table-bordered table-hover align-middle">

<thead class="table-dark">

<tr>

    <th>ID</th>

    <th>Doctor</th>

    <th>Department</th>

    <th>Specialization</th>

    <th>Fee</th>

    <th>Schedule</th>

    <th>Phone</th>

    <th>Status</th>

    <th width="250">
        Actions
    </th>

</tr>

</thead>

<tbody>

{% for doctor in doctors %}

<tr>

    <td>

        {{ doctor.id }}

    </td>

    <td>

        <strong>

            Dr.
            {{ doctor.user.get_full_name|default:doctor.user.username }}

        </strong>

    </td>

    <td>

        {{ doctor.department.department_name }}

    </td>

    <td>

        {{ doctor.specialization }}

    </td>

    <td>

        ₹{{ doctor.consultation_fee }}

    </td>

    <td>

        {% if doctor.availabilities.all %}

            {% for slot in doctor.availabilities.all %}

                <div class="mb-1">

                    <span class="badge bg-primary">

                        {{ slot.day_of_week }}

                    </span>

                    {{ slot.start_time|time:"H:i" }}

                    -

                    {{ slot.end_time|time:"H:i" }}

                </div>

            {% endfor %}

        {% else %}

            <span class="badge bg-danger">

                No Schedule

            </span>

        {% endif %}

    </td>

    <td>

        {{ doctor.phone_number }}

    </td>

    <td>

        {% if doctor.is_active %}

            <span class="badge bg-success">

                Active

            </span>

        {% else %}

            <span class="badge bg-danger">

                Inactive

            </span>

        {% endif %}

    </td>

    <td>

        <a href="{% url 'doctor_update' doctor.id %}"
           class="btn btn-warning btn-sm">

            <i class="bi bi-pencil-square"></i>

            Edit

        </a>

        <a href="{% url 'doctor_delete' doctor.id %}"
           class="btn btn-danger btn-sm">

            <i class="bi bi-trash"></i>

            Delete

        </a>

        <a href="{% url 'availability_create' %}?doctor={{ doctor.id }}"
           class="btn btn-info btn-sm">

            <i class="bi bi-calendar-plus"></i>

            Schedule

        </a>

    </td>

</tr>

{% empty %}

<tr>

    <td colspan="9"
        class="text-center">

        No Doctors Found

    </td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}