{% load static %}

<link rel="stylesheet" href="{% static 'css/components/ai_greeting_popup.css' %}">

<!-- ======================================
        AI GREETING POPUP
======================================= -->

<div id="aiGreetingPopup" class="ai-popup">

    <div class="ai-popup-header">

        <div class="ai-icon">

            <i class="fas fa-robot"></i>

        </div>

        <div>

            <h6>Hello 👋</h6>

            <small>AI Assistant</small>

        </div>

        <button id="closeGreeting">

            <i class="fas fa-times"></i>

        </button>

    </div>

    <div class="ai-popup-body">

        Welcome to

        <strong>AI Hospital Management System</strong>

        <!-- <br><br>

        I'm here to help you with appointments,
        doctors, patients, billing and reports. -->

    </div>

    <div class="ai-popup-footer">

        <button id="startChatBtn">

            Open AI Chat

        </button>

    </div>

</div>

<script src="{% static 'js/components/ai_greeting_popup.js' %}"></script>