{% load static %}

<link rel="stylesheet" href="{% static 'css/components/loading_spinner.css' %}">

<!-- ======================================
        PAGE LOADER
====================================== -->

<div id="pageLoader">

    <div class="loader-wrapper">

        <div class="loader-circle"></div>

        <div class="loader-circle loader-delay"></div>

        <div class="loader-logo">

            <i class="fas fa-hospital-alt"></i>

        </div>

        <h4>

            AI Hospital

        </h4>

        <p>

            Loading Dashboard...

        </p>

    </div>

</div>

<script src="{% static 'js/components/loading_spinner.js' %}"></script>