{% load static %}

<link rel="stylesheet" href="{% static 'css/components/theme_switcher.css' %}">

<!-- ======================================
        THEME SWITCHER
====================================== -->

<div class="theme-switcher">

    <button
        id="themeToggle"
        class="theme-btn"
        title="Change Theme">

        <i
            id="themeIcon"
            class="fas fa-moon">
        </i>

    </button>

</div>

<script src="{% static 'js/components/theme_switcher.js' %}"></script>